pydicom
pylibjpeg
pylibjpeg-libjpeg
SimpleITK
numpy>=1.22,<1.24
pandas
scikit-image
opencv-python
matplotlib
tensorflow==2.10.0
scipy
multipledispatch
pynrrd
tqdm
gdown
albumentations
scikit-learn
iterative-stratification
monai==1.3.0
seaborn

# PyTorch with CUDA - Install separately using:
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121